.featured-container {
	margin: 0 30px;
}
.featured__title {
	font-size: 24px;
	padding-top: 30px;
	margin: 0 0 10px 0;
}
.featured__special {
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	color: #63d1bb;
	margin: 0 0 20px 0;
}
.featured__intro {
	margin-bottom: 20px;
}
.featured__intro,
.featured__cell,
.featured__cell-param {
	@include small;
}
.featured__cell,
.featured__cell-param {
	border-bottom: 1px solid #ececec;
}
.featured__cell-param {
	width: 100px;
}
.featured__price {
	font-size: 16px;
	line-height: 24px;
	color: #444;
	text-align: center;
}
.featured-bg-top {
	display: none;
}
.featured-bg-bottom {
	width: 100%;
	height: 6px;
}
.featured__table {
	margin-bottom: 30px;
}

@media #{$tablet} {
	.featured {
		position: relative;
	}
	.featured-bg-top {
		display: block;
		position: absolute;
		top: -20px;
	}
	.featured-container {
		margin: 0 50px;
		font-size: 0;
		@include clearfix;
	}
	.featured-top {
		@include clearfix;
	}
	.featured__title {
		float: left;
		margin-bottom: 60px;
	}
	.featured__special {
		float: right;
		padding-top: 40px;
		margin-right: 30px;
		width: 80px;
		text-align: center;
	}
	.featured__options {
		float: left;
		width: 43%;
	}
	.featured__table {
		float: left;
		margin-bottom: 50px;
		width: 100%;
	}
	.featured__img {
		float: right;
		width: 333px;
		height: 404px;
		margin-bottom: 50px;
	}
	.featured__btn {
		width: 43%;
	}
	.featured__price {
		width: 43%;
		margin-bottom: 20px;
	}
	
	.featured-bg-bottom {
		width: 100%;
		height: 23px;
	}
	.featured__intro {
		margin: 0 0 50px 0;
	}
}
