.main-top {
	background-image: url("../img/hero-mobile@1x.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 373px;
	height: 505px;
}
@media #{$retina} {
	.main-top {
		background-image: url("../img/hero-mobile@2x.jpg");
	}
}
.main-top__title {
	text-align: center;
	padding: 88px 0;
	margin: 0 0 35px 0;
}
.main-top__link {
	display: block;
	font-family: Tahoma, Arial;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	padding: 28px 0 28px 30px;
}
.left-btn {
	background: $left-btn;
}
.left-btn__link:hover {
	background: $left-btn-hover;
}
.right-btn {
	background: $right-btn;
}
.right-btn__link:hover {
	background: $right-btn-hover;
}